pbr!=2.1.0,>=2.0.0

coloredlogs
eventlet
flask
keystoneauth1
os_client_config
oslo.log
oslo.config
oslo_messaging
pypcap
pypcapfile
python-openstackclient
python-neutronclient
python-novaclient
keystoneauth1
keystonemiddleware
Paste==1.7.5.1
PasteDeploy==1.5.2
requests
scapy
virtualenv
